
body {
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.document {
    border-bottom: 0.07rem solid black;
    margin: 7rem 0;
}

.main {
    flex: 1;
}

footer {
    height: 4rem;
    text-align: center;
    background-color: #34352C;
}
footer p {
    line-height: 4rem;
    color: #C9CABB
}