<!-- 继承 layout.html -->
{% extends "main/layout.html" %}

<!-- 文章 -->
{% block document %}
<div class="main">
    <div class="row">
        <div class="col-md-2"></div>
        <div class=" col-md-8">
            <div class="document">
                <h3>文章标题</h3>
                <span>时间:</span>
                <br>
                <span>阅读数:</span>
                <br>
                <span>评论数:</span>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </div>
            <div class="document">
                <h3>文章标题</h3>
                <span>时间:</span>
                <br>
                <span>阅读数:</span>
                <br>
                <span>评论数:</span>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}